
body {
    font-family: poppins;
    text-align: center;
    background: linear-gradient(to right, #121212, #0d1117, #101820);       

}
h1 {
    font-size: 50px;
    color: white;
    text-shadow: 5px 5px 10px grey;
}
div {
    display: flex;
    justify-content: space-around;
}

img {
    height: 300px;
    border-radius: 20px;
    cursor: pointer;
}

p {
    font-size: 30px;
    font-weight: bolder;
    background-color: #000;
    display: inline-block;
    justify-content: center;
    border-radius: 20px;
    padding: 17px;
}
button{
    width: 400px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    background-color: grey;
    font-size: 22px;
    font-family: poppins;
    font-weight: bold;
    color:black;
    transform: translateX(0px);
    transition: transform 1s ease;
}
button:hover {
    transform: translateY(-10px);
    transition: transform 1s ease;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px 5px black, 0 0 30px 10px #3333ff;

}   

/* RESPONSIVE STYLING */



@media (max-width:900px) {
    h1 {
        font-size: 40px;
    }
    img {
        height: 285px;
        width: 220px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    p {
    font-size: 25px;
    font-weight: bolder;
    background-color: #000;
    display: inline-block;
    justify-content: center;
    border-radius: 20px;
    padding: 17px;
    }
    .button {
        width: 200px;
        height: 37.7px;
        font-size: 22px;
        margin-top: 20px;
    }
    .cards {
        gap: 40px;
    }
}
@media (max-width:780px) {
    h1 {
        font-size: 40px;
    }
    img {
        height: 255px;
        width: 200px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    p {
    font-size: 23px;
    font-weight: bold;
    background-color: #000;
    display: inline-block;
    justify-content: center;
    border-radius: 20px;
    padding: 17px;
    }
    .button {
        width: 180px;
        height: 37.7px;
        font-size: 22px;
        margin-top: 20px;
    }
    .cards {
        gap: 30px;
    }
}
@media (max-width:700px) {
    h1 {
        font-size: 35px;
    }
    img {
        height: 230px;
        width: 190px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    p {
    font-size: 21px;
    font-weight: bold;
    background-color: #000;
    display: inline-block;
    justify-content: center;
    border-radius: 20px;
    padding: 17px;
    }
    .button {
        width: 200px;
        height: 36px;
        font-size: 20px;
        margin-top: 20px;
    }
    .cards {
        gap: 20px;
    }
}
@media (max-width:620px) {
    h1 {
        font-size: 30px;
    }
    img {
        height: 210px;
        width: 170px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    p {
    font-size: 19px;
    font-weight: bold;
    background-color: #000;
    display: inline-block;
    justify-content: center;
    border-radius: 20px;
    padding: 17px;
    }
    .button {
        width: 160px;
        height: 33px;
        font-size: 17px;
        margin-top: 20px;
    }
    .cards {
        gap: 20px;
    }
}
@media (max-width:580px) {
    .cards {
        gap: 18px;
    } 
    img {
        height: 170px;
        width: 130px;
    }
}
@media (max-width:500px) {
    .cards {
        gap: 10px;
    } 
    img {
        height: 150px;
        width: 110px;
    }
}
@media (max-width:440px) {
    h1 {
        font-size: 20px;
    }
    img {
        height: 150px;
        width: 120px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    p {
    font-size: 17px;
    font-weight: bold;
    background-color: #000;
    display: inline-block;
    justify-content: center;
    border-radius: 20px;
    padding: 17px;
    }
    .button {
        width: 110px;
        height: 30px;
        font-size: 14px;
        margin-top: 20px;
    }
    .cards {
        display: flex;
        justify-content: center;
        gap: 14px;
    }
}

@media (max-width:375px) {
    .cards {
        gap: 18px;
    } 
    img {
        height: 120px;
        width: 100px;
    }
}