body {
    font-family: poppins;
    background-image: url(./Images/backgroundd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 42px;
    color: white;
    text-shadow: 5px 5px 10px grey;
}
#h{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img {
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    perspective: 1000px;
    width: 200px;
}

button{
    width: 400px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    background-color: grey;
    font-size: 22px;
    font-family: poppins;
    font-weight: bold;
    color: black;
    transform: translateX(0px);
    transition: transform 1s ease;
}
button:hover {
    transform: translateY(-10px);
    transition: transform 1s ease;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px 5px black, 0 0 30px 10px #3333ff;

}

p {
    font-family: poppins;
    font-weight: 560;
    font-size: 20px;
    color: white;
}
.second-part {
    margin-left: 30px;
}
h2 {
    color: aliceblue;
    text-decoration: underline;
}

b {
    font-style: italic;
    font-weight: bolder;
    color: wheat;
}
a {
    display: flex;
    justify-content: center;
}