
@keyframes trans {
    0%{opacity: 1;} 50%{opacity: 0;} 100%{opacity: 1;}
}

body {
    margin: 0%;
    font-family: poppins;
    background: linear-gradient(to right, #121212, #0d1117, #101820);       
}
a {
    text-decoration: none;
}
h1 {
    font-size: 42px;
    color: white;
    text-shadow: 5px 5px 10px grey;
}
#h{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img {
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    perspective: 1000px;
    width: 200px;
    transform-style: preserve-3d;
    transform: rotateY(180);
}

button{
    width: 400px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    background-color: grey;
    font-size: 22px;
    font-family: poppins;
    font-weight: bold;
    color: black;
    transform: translateX(0px);
    transition: transform 1s ease;
}
button:hover {
    transform: translateY(-10px);
    transition: transform 1s ease;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px 5px black, 0 0 30px 10px #3333ff;

}
.header {
    background-color: black;
    padding: 2px;
}
.header h2 {
    color: #fff;
    margin-left: 900px;
}
p {
    font-family: poppins;
    font-weight: 560;
    font-size: 20px;
    color: white;
}
.second-part {
    margin-left: 30px;
}
h2 {
    color: wheat;
}

b {
    font-style: italic;
    font-weight: bolder;
    color: wheat;
}
a {
    display: flex;
    justify-content: center;
}
#animate-name {
    position: relative;
    animation: trans 3s infinite;
    color: aquamarine;
    font-size: 22px;
    font-family: poppins;
    margin-left: 1000px;
    margin-top: 40px;
}
@media(max-width:1200px) {
     #animate-name {
        margin-left: 800px;
        font-size: 22px;
    }
}

@media(max-width:1000px) {
     #animate-name {
        margin-left: 600px;
        font-size: 20px;
    }
}

@media(max-width:850px) {
     #animate-name {
        margin-left: 400px;
        font-size: 18px;
    }
}

@media (max-width:700px) {
    h1{
      font-size: 32px;
    }
    h2 {
        font-size: 21px;
    }
    p {
        font-size: 18px;
    }
    img {
        height: 170px;
        width: 170px;
    }
    button {
        width: 300px;
        height: 36px;
        font-size: 19px;
        margin-top: 20px;
    }
     #animate-name {
        margin-left: 300px;
        font-size: 16px;
    }
}
@media (max-width:550px) {
    h1{
      font-size: 25px;
    }
    h2 {
        font-size: 19px;
    }
    p {
        font-size: 16px;
    }
    img {
        height: 170px;
        width: 170px;
    }
    button {
        width: 280px;
        height: 33px;
        font-size: 19px;
        margin-top: 20px;
    }
     #animate-name {
        margin-left: 160px;
        font-size: 16px;
    }
}

@media (max-width:400px) {
    h1{
      font-size: 20px;
    }
    h2 {
        font-size: 17.7px;
    }
    p {
        font-size: 14px;
    }
    img {
        height: 100px;
        width: 100px;
    }
    button {
        width: 180px;
        height: 30px;
        font-size: 16px;
        margin-top: 20px;
    }
    #animate-name {
        margin-left: 130px;
        font-size: 16px;
    }
}

