@media(max-width:640px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
    }
    header h1 {
        text-align: center;
        width: 100%;
    }
    #question {
        font-size: 17px;
        font-weight: 500    ;
    }
    #timer {
        position: fixed;
        top: 150px;
        font-size: 30px;
    }
}